.notification-item:hover {
  transform: var(--notification-item-hover-transform);
  box-shadow: var(--notification-item-hover-box-shadow) !important;
}

.notification-item:focus-visible {
  transform: var(--notification-item-hover-transform);
  box-shadow: var(--notification-item-hover-box-shadow) !important;
}

.notification-action-button:hover,
.notification-action-button:focus-visible {
  background: var(--palette-rgba-0-199-150-0-08) !important;
}

.notification-generate-button:hover,
.notification-generate-button:focus-visible {
  transform: var(--notification-generate-button-hover-transform);
  box-shadow: var(--notification-generate-button-hover-box-shadow) !important;
}
