.predictions-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  min-width: var(--number-0);
  padding: var(--spacing-xl);
  padding-top: var(--spacing-lg);
}

@media (--media-mobile) {
  .predictions-container {
    gap: var(--spacing-md);
    padding: var(--spacing-md);
  }
}
